<h1>@{{ site }} {{ day | date : "MMMM d, yyyy" }}</h1>
<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Site Name</th>
      <th scope="col">
        Time ({{ avrage.air_temperature | number : "1.1-1" }})
      </th>
      <th scope="col">
        Road Temperature ({{
          avrage.road_surface_temperature | number : "1.1-1"
        }})
      </th>
      <th scope="col">
        Wind Speed km/h ({{ avrage.wind_speed | number : "1.1-1" }})
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of siteData">
      <td>{{ data.timenow }}</td>
      <td>{{ data.air_temperature }}</td>
      <td>{{ data.road_surface_temperature }}</td>
      <td>{{ data.wind_speed }}</td>
    </tr>
  </tbody>
</table>
<hr />
<h2>Air Temperature by the Hour</h2>
<div #bar class="container">
  width {{ bar.offsetWidth }}

  <figure id="bar"></figure>
</div>
