<h1>{{ day | date : "MMMM d, y" }}</h1>
<button class="btn btn-primary" (click)="next(-1)">&lt;&lt;</button>
&nbsp;
<button class="btn btn-primary" (click)="next(1)">&gt;&gt;</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Site Name</th>
      <th scope="col">
        <span
          class="glyphicon glyphicon-arrow-up"
          (click)="sort(0, 'DESC')"
        ></span>
        &nbsp;Air Temperature &#8451;&nbsp;
        <span
          class="glyphicon glyphicon-arrow-down"
          (click)="sort(0, 'ASC')"
        ></span>
      </th>
      <th scope="col">
        <span
          class="glyphicon glyphicon-arrow-up"
          (click)="sort(1, 'DESC')"
        ></span>
        &nbsp;Road Temperature &#8451;&nbsp;
        <span
          class="glyphicon glyphicon-arrow-down"
          (click)="sort(1, 'ASC')"
        ></span>
      </th>
      <th scope="col">
        <span
          class="glyphicon glyphicon-arrow-up"
          (click)="sort(2, 'DESC')"
        ></span>
        &nbsp;Wind Speed km/h&nbsp;
        <span
          class="glyphicon glyphicon-arrow-down"
          (click)="sort(2, 'ASC')"
        ></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let site of sites">
      <td>
        <a [routerLink]="[site.site_name, day | date : 'MM-dd-yyyy']">
          {{ site.site_name }}
        </a>
      </td>
      <td>{{ site.air_temperature }}</td>
      <td>{{ site.road_surface_temperature }}</td>
      <td>{{ site.wind_speed }}</td>
    </tr>
  </tbody>
</table>
