<h1>Routes</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Route</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p (click)="getSites()">http://localhost:3000/sites</p>
      </td>
      <td>GET sites ordered by name</td>
    </tr>
    <tr>
      <td>
        <p (click)="getToday()">http://localhost:3000/today/2023-03-01</p>
      </td>
      <td>GET data for today (2023-03-01)</td>
    </tr>
    <tr>
      <td>
        <!-- without service -->
        <!-- <a href="http://localhost:3000/sitedata/M1 Dublin Airport">
          http://localhost:3000/sitedata/M1%20Dublin%20Airport</a> -->
        <!-- with service -->
        <p (click)="getSiteData()">
          http://localhost:3000/sitedata/M1%20Dublin%20Airport
        </p>
      </td>
      <td>GET data for a site order by date and time</td>
    </tr>
  </tbody>
</table>
